/.ipynb_checkpoints
/100 target points.png
/50 target points.png
/60 target points.png
/Normflows.ipynb
/Untitled.ipynb
/cifar10.py
/data
/highest accuracy so far.png
/new_personal_best.png
/not-so-good-model.png
/output with accuracy on test set.png
/output.png
/overfitting?.png
/test.py
/two rings.pth